<header
    class="container"
    style="display: flex; align-items: center; justify-content: space-between;"
>
   <h1 class="shop-title">
      Welcome to my store.
   </h1>

   <ul style="display: flex;">
     <li class="header-li"><a href="/" title="home">Home</a></li> 
     <li class="header-li"><a href="/collections/all" title="featured-products">Products</a></li> 
     <li class="header-li"><a href="/cart" title="cart">Cart</a></li> 
   </ul>
</header> 